
/*using ID selector in external css*/
#h1Title{
         
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}
/* universal selector*/
*{
    font-family: 'Courier New', Courier, monospace;
}

/*using class selector*/

   .mandatory-field{
   font-weight:bold;



}